@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.container {
    position: absolute;
    top: 50%;
    padding: 100px 50px;
    left: 50%;
    transform: translate(-50% -50%);
  width: 250px;
  height: 375px;
  border: 1px solid #333;
  background: url("../images/notice.jpg") no-repeat center;
}
.close{
    position: absolute;
    right: -18px;
    top: -42px;
    font-size: 30px ;
    cursor: pointer;
}
